h1 {
	font-family: 'Headland One', serif;
	font-size: 40px;
	color: #3a3b39;
	vertical-align: middle;
}
h1:first-letter {
	font-size: 48px;
	vertical-align: middle;
	background-color: white;
}
h1 span {
	color: #8e9186;
}
input {
	padding: 5px;
	border: 1px solid #b8b09e;
	font-size: 16px;
}

.template {
	display: none;
}