-extends "layout/base.haml"
-block content
    %div#HolzofenApp
        %ul.firing-list
        %input#new-firing
        
    %div.template#firing-template
        %div.data
        %span.destroy << Destroy all humans
        %span.created
        %span.title
        %input.edit