<!DOCTYPE html>
%html lang="en"
    %head
        -block head
            -include 'layout/head.haml'
    %body
        -block content
        %footer
            -block footer
                -include 'layout/footer.haml'
        -block js_body
