%meta charset="utf-8"
%link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}"

-block css
    -assets "css_core"
        %link rel="stylesheet" href="{{ ASSET_URL }}"
-block js_head
    <!--[if lt IE 9]>
        %script src="{% assets "js_html5shiv" %}{{ ASSET_URL }}{% endassets %}"
    <![endif]-->
    %script src="{% assets "js_require" %}{{ ASSET_URL }}{% endassets %}"
    %script
        -if config.DEBUG:
            -assets "js_app"
                require.config({paths: { "main": "{{ASSET_URL}}" }});
        -else:
            require.config({paths: { "main": "/static/js/main" }});
        require(["main"]);
%title
    -block title
        Holzofen