%meta charset="utf-8"
%link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}"

-block css
    -assets "css_core"
        %link rel="stylesheet" href="{{ ASSET_URL }}"
-block js_head
    <!--[if lt IE 9]>
        %script src="{% assets "js_html5shiv" %}{{ ASSET_URL }}{% endassets %}"
    <![endif]-->
    -if config.DEBUG and not config.DEBUG_REQUIRE
        %script data-main="/static/js/main" src="{% assets "js_require" %}{{ ASSET_URL }}{% endassets %}"
    -else
        %script data-main="/static/js/app" src="{% assets "js_require" %}{{ ASSET_URL }}{% endassets %}"
    -assets "js_app"
        <!-- "{{ASSET_URL}}" -->
%title
    -block title
        Holzofen