%time.date
    <%= data_date_human %>
%div.stats
    <% if (typeof(duration) !== 'undefined' ){ %>
    %dl
        %dt << Duration
        %dd << <%= duration %>hrs
        %dt << Max Temp
        %dd << <%= max_temp %>&deg;c
    <% } %>
%div.edit
    %a.delete.button
        Delete