%h1 << Temperature Records
%ul#firing-list
%div#import-dialog.modal style="display: none"
%div.no-items#no-firings
        %p
            %strong << Uhoh
        %p
            There are no firings in the database. Maybe import one? <br />
        %p
            %a.button.primary.import-firings
                %i.icon-upload
                Import