%time.date
    <%= data_date_human %>
%div.stats
    %dl
        %dt << Duration
        %dd << <%= typeof(duration)!== 'undefined' ?  duration + 'hrs' : '' %>
        %dt << Max Temp
        %dd << <%= typeof(max_temp)!== 'undefined' ?  max_temp + '&deg;c' : '' %>
%div.edit
    %a.delete.button
        Delete