%header
    %h1
        Holzofen
    %nav#tools
        %a.button#import-firings href="#"
            %i.icon-upload
            Import...
%div#left-pane
    %div#no-firings
        %p
            %strong << Uhoh <br />
            There are no firings in the database. Maybe import one? <br />
            %a.button#import-firings
                %i.icon-upload
                Import
    %ul#firing-list
    %div#import-dialog.modal style="display: none"
%div#content-pane
    <!-- %input#new-firing -->