%div#firings
	%ul#firing-list
	%ul#firing-util
		%li -> %a href="#" << Import...
		%li -> %a href="#" << Something
		%li -> %a href="#" << Something Else
%div#content-pane
    <!-- %input#new-firing -->