%header
    %h1
        Holzofen
    %nav#tools
        %a.button.primary.import-firings href="#"
            %i.icon-upload
            Import
        %a.button href="/docs/" target="_blank"
            %i.icon-book
            Docs
        %a.button href="https://github.com/bennullgraham/Holzofen/" target="_blank"
            %i.icon-file
            Source
%div#left-pane
    %div#no-firings
        %p
            %strong << Uhoh <br />
            There are no firings in the database. Maybe import one? <br />
            %a.button.primary.import-firings
                %i.icon-upload
                Import
    %ul#firing-list
    %div#import-dialog.modal style="display: none"
%div#content-pane
    <!-- %input#new-firing -->