%script
    var plupload = window.plupload;
    var uploader = new plupload.Uploader({
        runtimes : 'html5',
        browse_button : 'select-files',
        container : 'plupload-container',
        max_file_size : '10mb',
        url : '/api/1.0/firings/',
        filters : [
            {title : "Logfiles", extensions : "txt"}
        ],
    });

    $('#upload-files').click(function(e) {
        uploader.start();
        e.preventDefault();
    });

    uploader.init();

    uploader.bind('FilesAdded', function(up, files) {
        $.each(files, function(i, file) {
            $('#filelist').append(
                '<li id="' + file.id + '">' +
                file.name + ' <span class="size">(' + plupload.formatSize(file.size) + ')</span>' +
            '</li>');
        });
        if ($('#filelist li').length) {
            $('#upload-files').removeClass('disabled')
        } else {
            $('#upload-files').addClass('disabled')
        }

    });

    uploader.bind('UploadProgress', function(up, file) {
        $('#' + file.id + " b").html(file.percent + "%");
    });

    uploader.bind('Error', function(up, err) {
        $('#plupload-container').append("<div>Error: " + err.code +
            ", Message: " + err.message +
            (err.file ? ", File: " + err.file.name : "") +
            "</div>"
        );
    });

    uploader.bind('FileUploaded', function(up, file, info) {
        $('#' + file.id + " b").html("100%");
        if (info.status=200) {
            id = $.parseJSON(info.response)[0];
            Holzofen.EventBus.trigger('firing:uploaded', id);
        }
    });

%div#plupload-container
    %h2
        Import Firing Logs
    %p
        You can select multiple files. See <a href="/docs/" target="_blank">API docs</a> for what these should look like.
    %ul#filelist
    %a.button#select-files href="#"
        %i.icon-folder-open
        Select files
    %a.button.disabled.primary#upload-files href="#"
        %i.icon-ok-sign.icon-white
        Upload files