@import "constants"

$button-bg-highlight:   #fff
$button-bg:             darken($button-bg-highlight, 10%)
$button-bg-lowlight:    #333

$button-border:         #bbb

/* thankyou, twitter bootstrap */
.button
    color: $fg-body
    height: $planck
    display: inline-block
    padding: 4px 14px
    margin-bottom: 0 // For input.btn
    font-size: $font-size
    line-height: $line-height
    *line-height: $line-height
    text-align: center
    vertical-align: middle
    cursor: pointer
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($button-bg-highlight), to($button-bg))
    background-image: -webkit-linear-gradient(top, $button-bg-highlight, $button-bg)
    background-image: -o-linear-gradient(top, $button-bg-highlight, $button-bg)
    background-image: linear-gradient(to bottom, $button-bg-highlight, $button-bg)
    background-image: -moz-linear-gradient(top, $button-bg-highlight, $button-bg)
    background-repeat: repeat-x
    border: 1px solid $button-border
    border-bottom-color: darken($button-border, 10%)
    border-radius: 4px
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)

    // Hover state
    &:hover 
        text-decoration: none
        background-color: darken($button-bg-highlight, 10%)
        background-position: 0 -15px

        // transition is only when going to hover, otherwise the background
        // behind the gradient (there for IE<=9 fallback) gets mismatched
        -webkit-transition: background-position .05s linear
    

    // Active state
    &.active,
    &:active 
        background-color: darken($button-bg-highlight, 10%)
        background-color: darken($button-bg-highlight, 15%) e("\9")
        background-image: none
        outline: 0
        box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)
    

    // Disabled state
    &.disabled,
    &[disabled] 
        cursor: default
        background-color: darken($button-bg-highlight, 10%)
        background-image: none
        opacity: 0.65
        box-shadow: none
    

