$planck:            20px

$bg:                rgb(230, 215, 205)

$leftpanel-width:   $planck * 15

$header-height:     $planck * 3

$fg-body:           rgb(80,80,80)
$fg-title:          rgb(65,130,190)

$line-height:       $planck
$font-size:         $planck - 6px

$primary:		#559eba
$secondary:		#ffcb6f
$tertiary:		#ffa16f
// Primary Color:
// 559EBA	537C8B	1C5F79	83C4DD	9BCADD
// Secondary Color A:
// FFCB6F	BFA26E	A67724	FFD893	FFE3B0
// Secondary Color B:
// FFA16F	BF8A6E	A65124	FFB893	FFCBB0
