@import "constants"


html
    height: 100%

body
    font-size: $font-size
    line-height: $line-height
    padding: $header-height 0 0 $leftpanel-width
    background-repeat: no-repeat

a
    color: $fg-title
    text-decoration: none
    &:hover
        text-decoration: underline

h1
    position: absolute
    top: 0
    left: 0
    text-align: center
    line-height: $header-height
    height: $header-height
    width: 100%
    font-family: 'Headland One', serif
    font-size: 40px
    color: #3a3b39
    background-color: #fff
    z-index: 999
    vertical-align: middle
    margin: 0
    padding: 0
    &:first-letter 
        font-size: 48px
        vertical-align: middle
    span 
        color: #8e9186


input 
    padding: 10px
    border: 1px solid #b8b09e
    width: 175px

#content-pane
    z-index: 1000
    padding: 0 0 0 20px