<!DOCTYPE html>
%html lang="en"
    %head
        -block head
            -include 'layout/head.haml'
    %body
        %header
            -block header
                -include 'layout/header.haml'
        %div.container
            -block content
        %footer
            -block footer
                -include 'layout/footer.haml'
        -block js_body
