@import "constants"

$item-height:           $planck * 3
$item-padding-v:        $planck / 2
$item-padding-h:        $planck / 2

$item-bg-light:         #3a3a3a
$item-bg-dark:          #313131

#firing-list
    margin: 0
    padding: 0
    position: absolute
    top: $header-height
    left: 0
    bottom: 0
    width: $leftpanel-width
    background: -webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px
    background-color: rgb(40,40,40)
    background-size: 16px 16px

.firing-list-item
    position: relative
    cursor: pointer
    color: #ddd
    background-image: -webkit-linear-gradient($item-bg-light 50%, $item-bg-dark 50%)
    background-size: 100% 100%
    border-top:    1px solid rgba(255,255,255,0.2)
    border-bottom: 1px solid rgba(0,0,0,1)
    padding: $item-padding-v $item-padding-h
    height: $item-height - ($item-padding-v * 2)
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5)
    font-size: 14px

    -webkit-transition: width 0.2s
    width: $leftpanel-width - (2 * $item-padding-h) - $planck
    &.active
        -webkit-transition: width 0.2s
        width: $leftpanel-width - (2 * $item-padding-h)
    &:hover
        background-image: -webkit-linear-gradient(lighten($item-bg-light, 10%) 50%, lighten($item-bg-dark, 10%) 50%)
        &:after
            border-color: transparent transparent transparent lighten($item-bg-light, 10%)
        &:before
            border-color: transparent transparent transparent lighten($item-bg-dark, 10%)

    &:after
        position: absolute
        left: 100%
        top: 0
        content: " "
        display: block
        width: 0
        height: 0
        border-style: solid
        border-width: 30px 0 0 10px
        border-color: transparent transparent transparent $item-bg-light
    &:before
        position: absolute
        left: 100%
        top: 50%
        content: " "
        display: block
        width: 0
        height: 0
        border-style: solid
        border-width: 0 0 30px 10px
        border-color: transparent transparent transparent $item-bg-dark

    .title
        color: #eee
        font-weight: bold