@font-face
    font-family: 'Headland One'
    font-style: normal
    font-weight: 400
    src: local('Headland One'), local('HeadlandOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/headlandone/v1/iGmBeOvQGfq9DSbjJ8jDV3hCUOGz7vYGh680lGh-uXM.woff) format('woff')
