%h1 
	Menu
%ul
	%li
		%h2 << &ldquo;The Juxtaposition&rdquo;
		%ul
			%li << Olives
			%li << Capers
			%li << Cream Cheese
			%li << Marzipan
		%p
			<strong>Comments</strong>: This is probably a one-slicer.

